/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply text-sm text-base-content;
}

.tag {
	@apply my-0 whitespace-nowrap rounded border border-primary px-1.5 py-0
	text-tag font-bold tracking-wider text-primary-focus;
}

.ext {
	@apply bg-slate-300;
}

.desc {
	@apply bg-orange-300;
}

.style {
	@apply bg-teal-300;
}

.item {
	@apply font-semibold text-gray-700;
}
