/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply text-sm text-base-content;
}

.tag {
	@apply m-1.5 my-0 whitespace-nowrap rounded border border-primary px-1.5 py-0
	text-tag font-bold tracking-wider text-primary-focus;
}

.item {
	@apply font-semibold text-gray-700;
}
